<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interoperable Immunization Data Initiative</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <h3 class="header center-align">Interoperable Immunization Data Initiative IIDI</h3>
        {% for province, services in entities.items() %}
        <div class="card">
            <div class="card-body">
                <!-- Card top now only includes the status indicator and province name -->
                <div class="card-top">
                    <div class="status-indicator">
                        <svg class="health-indicator" id="health-indicator-{{ province }}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="10" fill="#808080"/>
                        </svg>
                    </div>
                    <div class="province">{{ province }}</div>
                </div>
                <!-- Buttons div moved outside of card-top so it can be right-aligned -->
                <div class="buttons">
                    {% for service in services %}
                    <a href="{{ service.url }}" target="_blank" class="btn {{ 'btn-' + service.name | replace(' ', '-') }}">
                        <img src="{{ url_for('static', filename='svg/' + service.name + '.svg') }}" alt="{{ service.name }} Icon" class="btn-icon">
                        {{ service.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function updateHealthStatus() {
            const provinces = document.querySelectorAll('.card');
            provinces.forEach((province, index) => {
                const provinceName = province.querySelector('.province').textContent.trim();
                const indicator = province.querySelector('.health-indicator circle');
                let statusText = province.querySelector('.status-text');

                fetch(`/health-check/${provinceName}`)
                    .then(response => response.json())
                    .then(data => {
                        let isProvinceHealthy = true;
                        for (let service in data[provinceName]) {
                            if (data[provinceName][service] !== "healthy") {
                                isProvinceHealthy = false;
                                break;
                            }
                        }
                        if (isProvinceHealthy) {
                            indicator.setAttribute('fill', '#008000');
                        } else {
                            indicator.setAttribute('fill', '#FF0000');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        indicator.setAttribute('fill', '#FF0000');
                    });
            });
        }
        updateHealthStatus();
        setInterval(updateHealthStatus, 300000);
    </script>
</body>
</html>
