img.icon {
    height: 20px;
}

.btn-Governance-UI { background-color: #007BA7; }
.btn-Kafka-UI { background-color: #FF4040; }
.btn-Patient-Browser { background-color: #50C878; }
.btn-HAPI-FHIR-Server { background-color: #9966CC; }
.btn-Neo4j { background-color: #F28500; }
.btn-Neodash { background-color: #B2456E; }

.btn-icon {
    padding: 5px;
    border-radius: 5px;
}