body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #222f3e;
}

.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 10px;
    background-color: #c8d6e5;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.header.center-align {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
    font-weight: bold;
    font-size: 2.5rem;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Adjusted to space-between to push elements to the ends */
    padding: 10px;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Keep province name aligned to the left */
    flex-grow: 1; /* Allow this div to grow and fill the space */
    margin-bottom: 5px; /* Space between this section and buttons */
    margin-top: 5px; /* Space between this section and buttons */
}

.status-indicator {
    display: flex;
    align-items: center;
    padding-right: 20px; /* Right padding for space between indicator and buttons */
}

.province {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 10px; /* Space between province name and online status */
}

.buttons {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    gap: 10px;
    flex-grow: 0; /* Prevent buttons div from growing */
}


.container .btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    margin: 0 5px 5px 0; /* Adjust margins for buttons */
}

.container .btn-icon {
    margin-right: 5px;
}

.container .btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.container .btn-Governance-UI { background-color: #007BA7; }
.container .btn-Kafka-UI { background-color: #FF4040; }
.container .btn-Patient-Browser { background-color: #50C878; }
.container .btn-HAPI-FHIR-Server { background-color: #9966CC; }
.container .btn-Neo4j { background-color: #F28500; }
.container .btn-Neodash { background-color: #B2456E; }
